<% content_for :'main_heading', "Welcome!" %>

<%# <h3>What is Racqueteer?</h3>
<p>A lightweight web app for:</p>
<ul>
    <li>keeping track of your racquet sports activities</li>
    <li>recording and reviewing your matches, coaching and racquets</li>
    <li>accessing breakdowns of each by sport, opponent, coach and more!</li>
</ul>
<p>You can view a <a href="https://www.youtube.com/watch?v=nK35Tuxfkso" target="_blank">short demo on YouTube</a></p>
<h3>... who are you?</h2>
<p><a href="/register">Register</a> or <a href="/login">log in</a> to start racqueteering</p> %>
